@charset "UTF-8";
/* Stili per desktop */
body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

.character-grid {
  display: grid;
  grid-template-columns: 1fr; /* Singola colonna per ogni riga */
  gap: 20px; /* Spazio tra le due righe */
  width: 100%;
  overflow: hidden;
}

/* Configurazione per le righe maschili e femminili */
.maleCharacter, .femaleCharacter {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  padding: 10px 0;
  white-space: nowrap; /* Impedisce ai personaggi di andare a capo */
}

.character {
  position: relative;
  flex: 0 0 auto; /* Impedisce ai personaggi di ridimensionarsi */
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.character img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease;
}

.character.selected {
  border: 3px solid gold;
  /* Bordo dorato per il personaggio selezionato */
  transform: scale(1.1);
  /* Aumenta leggermente la dimensione */
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
  /* Ombra dorata */
}

.grid-container {
  margin-bottom: 40px;
  max-height: 400px;
  max-width: 1200px;
  padding: 0 10px;
}

.maleCharacter,
.femaleCharacter {
  display: flex;
  overflow-x: auto;
  /* Abilita lo scorrimento orizzontale */
}

/* Pulsante di conferma */
.confirm-button {
  padding: 12px 25px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.confirm-button:hover {
  background-color: #FFD700;
  /* Colore leggermente più scuro al passaggio del mouse */
  transform: translateY(-2px);
  /* Effetto di sollevamento */
}

/* Stili per dispositivi mobili */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 10px;
  }
  .character-grid {
    gap: 15px;
  }
  .grid-container {
    max-height: 300px;
    max-width: 90%;
    padding: 0;
  }
  .maleCharacter, .femaleCharacter {
    grid-template-columns: 1fr; /* Singola colonna per ogni riga */
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  .character-grid {
    gap: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .character {
    border: 2px solid transparent;
  }
  .maleCharacter, .femaleCharacter {
    grid-template-columns: 1fr; /* Singola colonna per ogni riga */
    display: flex;
    flex-direction: row;
  }
  .character.selected {
    border: 2px solid gold;
    transform: scale(1.05);
  }
  .grid-container {
    max-height: 250px;
    max-width: 100%;
    padding: 0;
  }
  .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -10;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.8em;
  --top-offset: 48.13vh;
  --fall-duration: 8.235s;
  --fall-delay: 3.952s;
}
.star:nth-child(2) {
  --star-tail-length: 6.41em;
  --top-offset: 27.6vh;
  --fall-duration: 7.482s;
  --fall-delay: 1.262s;
}
.star:nth-child(3) {
  --star-tail-length: 6.59em;
  --top-offset: 83.68vh;
  --fall-duration: 10.189s;
  --fall-delay: 2.062s;
}
.star:nth-child(4) {
  --star-tail-length: 6.55em;
  --top-offset: 95.31vh;
  --fall-duration: 11.087s;
  --fall-delay: 7.364s;
}
.star:nth-child(5) {
  --star-tail-length: 7.3em;
  --top-offset: 12.48vh;
  --fall-duration: 6.827s;
  --fall-delay: 5.855s;
}
.star:nth-child(6) {
  --star-tail-length: 6.77em;
  --top-offset: 85.57vh;
  --fall-duration: 10.598s;
  --fall-delay: 0.012s;
}
.star:nth-child(7) {
  --star-tail-length: 6.95em;
  --top-offset: 72.4vh;
  --fall-duration: 11.028s;
  --fall-delay: 6.185s;
}
.star:nth-child(8) {
  --star-tail-length: 7.47em;
  --top-offset: 54.58vh;
  --fall-duration: 9.373s;
  --fall-delay: 2.022s;
}
.star:nth-child(9) {
  --star-tail-length: 7em;
  --top-offset: 45.64vh;
  --fall-duration: 6.819s;
  --fall-delay: 6.839s;
}
.star:nth-child(10) {
  --star-tail-length: 5.59em;
  --top-offset: 43.94vh;
  --fall-duration: 11.144s;
  --fall-delay: 3.992s;
}
.star:nth-child(11) {
  --star-tail-length: 5.32em;
  --top-offset: 63.03vh;
  --fall-duration: 11.826s;
  --fall-delay: 0.049s;
}
.star:nth-child(12) {
  --star-tail-length: 6.72em;
  --top-offset: 45.89vh;
  --fall-duration: 10.116s;
  --fall-delay: 5.767s;
}
.star:nth-child(13) {
  --star-tail-length: 6.47em;
  --top-offset: 3.56vh;
  --fall-duration: 8.434s;
  --fall-delay: 7.985s;
}
.star:nth-child(14) {
  --star-tail-length: 5.8em;
  --top-offset: 59.87vh;
  --fall-duration: 7.725s;
  --fall-delay: 1.933s;
}
.star:nth-child(15) {
  --star-tail-length: 6.35em;
  --top-offset: 14.16vh;
  --fall-duration: 11.558s;
  --fall-delay: 1.363s;
}
.star:nth-child(16) {
  --star-tail-length: 6.38em;
  --top-offset: 46.78vh;
  --fall-duration: 9.387s;
  --fall-delay: 1.201s;
}
.star:nth-child(17) {
  --star-tail-length: 6.04em;
  --top-offset: 51.12vh;
  --fall-duration: 7.469s;
  --fall-delay: 5.437s;
}
.star:nth-child(18) {
  --star-tail-length: 5.2em;
  --top-offset: 25.33vh;
  --fall-duration: 11.803s;
  --fall-delay: 8.031s;
}
.star:nth-child(19) {
  --star-tail-length: 7.5em;
  --top-offset: 9.94vh;
  --fall-duration: 11.168s;
  --fall-delay: 2.474s;
}
.star:nth-child(20) {
  --star-tail-length: 5.95em;
  --top-offset: 39.07vh;
  --fall-duration: 8.575s;
  --fall-delay: 1.865s;
}
.star:nth-child(21) {
  --star-tail-length: 6.25em;
  --top-offset: 77.6vh;
  --fall-duration: 8.653s;
  --fall-delay: 9.959s;
}
.star:nth-child(22) {
  --star-tail-length: 6.02em;
  --top-offset: 44.33vh;
  --fall-duration: 9.21s;
  --fall-delay: 5.908s;
}
.star:nth-child(23) {
  --star-tail-length: 7.03em;
  --top-offset: 80.25vh;
  --fall-duration: 6.411s;
  --fall-delay: 3.7s;
}
.star:nth-child(24) {
  --star-tail-length: 5.03em;
  --top-offset: 30.94vh;
  --fall-duration: 6.637s;
  --fall-delay: 7.038s;
}
.star:nth-child(25) {
  --star-tail-length: 6em;
  --top-offset: 52.86vh;
  --fall-duration: 8.979s;
  --fall-delay: 9.531s;
}
.star:nth-child(26) {
  --star-tail-length: 5.55em;
  --top-offset: 78.7vh;
  --fall-duration: 10.576s;
  --fall-delay: 9.093s;
}
.star:nth-child(27) {
  --star-tail-length: 6.66em;
  --top-offset: 16.08vh;
  --fall-duration: 11.965s;
  --fall-delay: 6.593s;
}
.star:nth-child(28) {
  --star-tail-length: 6.64em;
  --top-offset: 70.63vh;
  --fall-duration: 7.582s;
  --fall-delay: 2.664s;
}
.star:nth-child(29) {
  --star-tail-length: 5em;
  --top-offset: 81.8vh;
  --fall-duration: 9.41s;
  --fall-delay: 3.736s;
}
.star:nth-child(30) {
  --star-tail-length: 6.03em;
  --top-offset: 75.34vh;
  --fall-duration: 11.019s;
  --fall-delay: 0.287s;
}
.star:nth-child(31) {
  --star-tail-length: 7.49em;
  --top-offset: 5.92vh;
  --fall-duration: 8.492s;
  --fall-delay: 2.428s;
}
.star:nth-child(32) {
  --star-tail-length: 6.65em;
  --top-offset: 28.01vh;
  --fall-duration: 11.56s;
  --fall-delay: 1.344s;
}
.star:nth-child(33) {
  --star-tail-length: 7.3em;
  --top-offset: 39.29vh;
  --fall-duration: 7.832s;
  --fall-delay: 4.088s;
}
.star:nth-child(34) {
  --star-tail-length: 7.36em;
  --top-offset: 53.86vh;
  --fall-duration: 8.777s;
  --fall-delay: 9.041s;
}
.star:nth-child(35) {
  --star-tail-length: 5.65em;
  --top-offset: 61.99vh;
  --fall-duration: 8.367s;
  --fall-delay: 7.532s;
}
.star:nth-child(36) {
  --star-tail-length: 7.05em;
  --top-offset: 80.22vh;
  --fall-duration: 6.235s;
  --fall-delay: 5.89s;
}
.star:nth-child(37) {
  --star-tail-length: 6.86em;
  --top-offset: 82.88vh;
  --fall-duration: 10.362s;
  --fall-delay: 4.887s;
}
.star:nth-child(38) {
  --star-tail-length: 7.18em;
  --top-offset: 70.62vh;
  --fall-duration: 7.41s;
  --fall-delay: 1.784s;
}
.star:nth-child(39) {
  --star-tail-length: 7.13em;
  --top-offset: 92.21vh;
  --fall-duration: 11.529s;
  --fall-delay: 2.203s;
}
.star:nth-child(40) {
  --star-tail-length: 6.52em;
  --top-offset: 76.89vh;
  --fall-duration: 11.176s;
  --fall-delay: 5.465s;
}
.star:nth-child(41) {
  --star-tail-length: 7.43em;
  --top-offset: 93.57vh;
  --fall-duration: 10.02s;
  --fall-delay: 4.044s;
}
.star:nth-child(42) {
  --star-tail-length: 7.37em;
  --top-offset: 82.66vh;
  --fall-duration: 6.231s;
  --fall-delay: 5.566s;
}
.star:nth-child(43) {
  --star-tail-length: 6.17em;
  --top-offset: 15.16vh;
  --fall-duration: 11.896s;
  --fall-delay: 6.753s;
}
.star:nth-child(44) {
  --star-tail-length: 6.05em;
  --top-offset: 37.35vh;
  --fall-duration: 7.962s;
  --fall-delay: 0.41s;
}
.star:nth-child(45) {
  --star-tail-length: 5.73em;
  --top-offset: 35.44vh;
  --fall-duration: 6.286s;
  --fall-delay: 8.05s;
}
.star:nth-child(46) {
  --star-tail-length: 7.41em;
  --top-offset: 96.19vh;
  --fall-duration: 7.789s;
  --fall-delay: 3.511s;
}
.star:nth-child(47) {
  --star-tail-length: 7.5em;
  --top-offset: 28.92vh;
  --fall-duration: 11.466s;
  --fall-delay: 5.398s;
}
.star:nth-child(48) {
  --star-tail-length: 5.81em;
  --top-offset: 55.9vh;
  --fall-duration: 6.179s;
  --fall-delay: 9.96s;
}
.star:nth-child(49) {
  --star-tail-length: 5.62em;
  --top-offset: 44.85vh;
  --fall-duration: 6.606s;
  --fall-delay: 3.18s;
}
.star:nth-child(50) {
  --star-tail-length: 6.51em;
  --top-offset: 25.05vh;
  --fall-duration: 11.622s;
  --fall-delay: 7.531s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=home.css.map */