@charset "UTF-8";
/* Stili per desktop */
body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

.character-grid {
  display: grid;
  grid-template-columns: 1fr; /* Singola colonna per ogni riga */
  gap: 20px; /* Spazio tra le due righe */
  width: 100%;
}

/* Configurazione per le righe maschili e femminili */
.maleCharacter, .femaleCharacter {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  padding: 10px 0;
  white-space: nowrap; /* Impedisce ai personaggi di andare a capo */
}

.character {
  position: relative;
  flex: 0 0 auto; /* Impedisce ai personaggi di ridimensionarsi */
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.character img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease;
}

.character.selected {
  border: 3px solid gold;
  /* Bordo dorato per il personaggio selezionato */
  transform: scale(1.1);
  /* Aumenta leggermente la dimensione */
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
  /* Ombra dorata */
}

.grid-container {
  margin-bottom: 40px;
  max-height: 400px;
  max-width: 1200px;
  padding: 0 10px;
}

.maleCharacter,
.femaleCharacter {
  display: flex;
  overflow-x: auto;
  /* Abilita lo scorrimento orizzontale */
}

/* Pulsante di conferma */
.confirm-button {
  padding: 12px 25px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.confirm-button:hover {
  background-color: #FFD700;
  /* Colore leggermente più scuro al passaggio del mouse */
  transform: translateY(-2px);
  /* Effetto di sollevamento */
}

/* Stili per dispositivi mobili */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 10px;
  }
  .character-grid {
    gap: 15px;
  }
  .grid-container {
    max-height: 300px;
    max-width: 90%;
    padding: 0;
  }
  .maleCharacter, .femaleCharacter {
    grid-template-columns: 1fr; /* Singola colonna per ogni riga */
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  .character-grid {
    gap: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
  }
  .character {
    border: 2px solid transparent;
  }
  .maleCharacter, .femaleCharacter {
    grid-template-columns: 1fr; /* Singola colonna per ogni riga */
    display: flex;
    flex-direction: row;
  }
  .character.selected {
    border: 2px solid gold;
    transform: scale(1.05);
  }
  .grid-container {
    max-height: 250px;
    max-width: 100%;
    padding: 0;
  }
  .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -5;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.28em;
  --top-offset: 31.38vh;
  --fall-duration: 9.297s;
  --fall-delay: 0.414s;
}
.star:nth-child(2) {
  --star-tail-length: 5.94em;
  --top-offset: 67.7vh;
  --fall-duration: 10.234s;
  --fall-delay: 9.044s;
}
.star:nth-child(3) {
  --star-tail-length: 7.45em;
  --top-offset: 44.38vh;
  --fall-duration: 10.539s;
  --fall-delay: 4.142s;
}
.star:nth-child(4) {
  --star-tail-length: 5.13em;
  --top-offset: 8.55vh;
  --fall-duration: 11.252s;
  --fall-delay: 9.148s;
}
.star:nth-child(5) {
  --star-tail-length: 6.96em;
  --top-offset: 41.26vh;
  --fall-duration: 8.201s;
  --fall-delay: 7.851s;
}
.star:nth-child(6) {
  --star-tail-length: 6.05em;
  --top-offset: 36.48vh;
  --fall-duration: 9.416s;
  --fall-delay: 2.57s;
}
.star:nth-child(7) {
  --star-tail-length: 6.32em;
  --top-offset: 72.76vh;
  --fall-duration: 7.325s;
  --fall-delay: 6.366s;
}
.star:nth-child(8) {
  --star-tail-length: 5.35em;
  --top-offset: 95.96vh;
  --fall-duration: 7.983s;
  --fall-delay: 4.787s;
}
.star:nth-child(9) {
  --star-tail-length: 7.1em;
  --top-offset: 9.48vh;
  --fall-duration: 8.011s;
  --fall-delay: 2.908s;
}
.star:nth-child(10) {
  --star-tail-length: 5.07em;
  --top-offset: 42.47vh;
  --fall-duration: 9.692s;
  --fall-delay: 9.67s;
}
.star:nth-child(11) {
  --star-tail-length: 6.44em;
  --top-offset: 90.74vh;
  --fall-duration: 8.623s;
  --fall-delay: 1.499s;
}
.star:nth-child(12) {
  --star-tail-length: 6.59em;
  --top-offset: 44.66vh;
  --fall-duration: 11.41s;
  --fall-delay: 7.248s;
}
.star:nth-child(13) {
  --star-tail-length: 7.34em;
  --top-offset: 66.83vh;
  --fall-duration: 10.887s;
  --fall-delay: 3.81s;
}
.star:nth-child(14) {
  --star-tail-length: 6.24em;
  --top-offset: 99.29vh;
  --fall-duration: 9.067s;
  --fall-delay: 7.433s;
}
.star:nth-child(15) {
  --star-tail-length: 5.29em;
  --top-offset: 73.83vh;
  --fall-duration: 7.339s;
  --fall-delay: 9.087s;
}
.star:nth-child(16) {
  --star-tail-length: 6.52em;
  --top-offset: 33.36vh;
  --fall-duration: 7.028s;
  --fall-delay: 1.289s;
}
.star:nth-child(17) {
  --star-tail-length: 6.41em;
  --top-offset: 9.86vh;
  --fall-duration: 11.075s;
  --fall-delay: 0.446s;
}
.star:nth-child(18) {
  --star-tail-length: 6.14em;
  --top-offset: 83.55vh;
  --fall-duration: 11.199s;
  --fall-delay: 8.063s;
}
.star:nth-child(19) {
  --star-tail-length: 6.85em;
  --top-offset: 82.16vh;
  --fall-duration: 11.312s;
  --fall-delay: 3.369s;
}
.star:nth-child(20) {
  --star-tail-length: 6.56em;
  --top-offset: 18.38vh;
  --fall-duration: 10.714s;
  --fall-delay: 2.217s;
}
.star:nth-child(21) {
  --star-tail-length: 5.08em;
  --top-offset: 51.8vh;
  --fall-duration: 8.65s;
  --fall-delay: 5.341s;
}
.star:nth-child(22) {
  --star-tail-length: 6.39em;
  --top-offset: 79.42vh;
  --fall-duration: 6.033s;
  --fall-delay: 2.581s;
}
.star:nth-child(23) {
  --star-tail-length: 5.37em;
  --top-offset: 95.86vh;
  --fall-duration: 10.834s;
  --fall-delay: 4.81s;
}
.star:nth-child(24) {
  --star-tail-length: 5.37em;
  --top-offset: 44.57vh;
  --fall-duration: 7.598s;
  --fall-delay: 1.332s;
}
.star:nth-child(25) {
  --star-tail-length: 6.84em;
  --top-offset: 81.41vh;
  --fall-duration: 9.65s;
  --fall-delay: 2.374s;
}
.star:nth-child(26) {
  --star-tail-length: 5.96em;
  --top-offset: 56.87vh;
  --fall-duration: 7.462s;
  --fall-delay: 8.932s;
}
.star:nth-child(27) {
  --star-tail-length: 6.97em;
  --top-offset: 36.45vh;
  --fall-duration: 8.339s;
  --fall-delay: 9.866s;
}
.star:nth-child(28) {
  --star-tail-length: 7.24em;
  --top-offset: 9.58vh;
  --fall-duration: 11.389s;
  --fall-delay: 3.15s;
}
.star:nth-child(29) {
  --star-tail-length: 5.62em;
  --top-offset: 64.29vh;
  --fall-duration: 11.341s;
  --fall-delay: 0.67s;
}
.star:nth-child(30) {
  --star-tail-length: 6.83em;
  --top-offset: 15.88vh;
  --fall-duration: 6s;
  --fall-delay: 9.136s;
}
.star:nth-child(31) {
  --star-tail-length: 6.01em;
  --top-offset: 9.63vh;
  --fall-duration: 6.584s;
  --fall-delay: 6.947s;
}
.star:nth-child(32) {
  --star-tail-length: 6.87em;
  --top-offset: 24.75vh;
  --fall-duration: 11.281s;
  --fall-delay: 0.505s;
}
.star:nth-child(33) {
  --star-tail-length: 6.28em;
  --top-offset: 68.33vh;
  --fall-duration: 9.368s;
  --fall-delay: 3.378s;
}
.star:nth-child(34) {
  --star-tail-length: 6.45em;
  --top-offset: 81.59vh;
  --fall-duration: 10.015s;
  --fall-delay: 6.159s;
}
.star:nth-child(35) {
  --star-tail-length: 6.06em;
  --top-offset: 96.33vh;
  --fall-duration: 8.668s;
  --fall-delay: 0.348s;
}
.star:nth-child(36) {
  --star-tail-length: 7.1em;
  --top-offset: 61.95vh;
  --fall-duration: 7.481s;
  --fall-delay: 0.919s;
}
.star:nth-child(37) {
  --star-tail-length: 7.02em;
  --top-offset: 60.85vh;
  --fall-duration: 7.646s;
  --fall-delay: 4.938s;
}
.star:nth-child(38) {
  --star-tail-length: 6.98em;
  --top-offset: 49.39vh;
  --fall-duration: 10.936s;
  --fall-delay: 9.261s;
}
.star:nth-child(39) {
  --star-tail-length: 6.27em;
  --top-offset: 56.94vh;
  --fall-duration: 9.089s;
  --fall-delay: 2.708s;
}
.star:nth-child(40) {
  --star-tail-length: 6.59em;
  --top-offset: 24.08vh;
  --fall-duration: 10.918s;
  --fall-delay: 9.557s;
}
.star:nth-child(41) {
  --star-tail-length: 5.01em;
  --top-offset: 86.83vh;
  --fall-duration: 9.209s;
  --fall-delay: 7.702s;
}
.star:nth-child(42) {
  --star-tail-length: 5.22em;
  --top-offset: 40.85vh;
  --fall-duration: 10.81s;
  --fall-delay: 8.542s;
}
.star:nth-child(43) {
  --star-tail-length: 5.84em;
  --top-offset: 76.57vh;
  --fall-duration: 11.016s;
  --fall-delay: 2.226s;
}
.star:nth-child(44) {
  --star-tail-length: 6.4em;
  --top-offset: 14.29vh;
  --fall-duration: 7.942s;
  --fall-delay: 9.413s;
}
.star:nth-child(45) {
  --star-tail-length: 6.18em;
  --top-offset: 53.64vh;
  --fall-duration: 7.442s;
  --fall-delay: 6.553s;
}
.star:nth-child(46) {
  --star-tail-length: 6.43em;
  --top-offset: 31.23vh;
  --fall-duration: 11.526s;
  --fall-delay: 5.546s;
}
.star:nth-child(47) {
  --star-tail-length: 6.18em;
  --top-offset: 22.04vh;
  --fall-duration: 9.432s;
  --fall-delay: 3.121s;
}
.star:nth-child(48) {
  --star-tail-length: 5.93em;
  --top-offset: 29.06vh;
  --fall-duration: 10.391s;
  --fall-delay: 3.089s;
}
.star:nth-child(49) {
  --star-tail-length: 6.49em;
  --top-offset: 61.15vh;
  --fall-duration: 8.278s;
  --fall-delay: 8.652s;
}
.star:nth-child(50) {
  --star-tail-length: 6.11em;
  --top-offset: 55.02vh;
  --fall-duration: 6.251s;
  --fall-delay: 1.279s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=home.css.map */